# Copyright 2023 The Archivista Contributors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This workflow uses actions that are not certified by GitHub. They are provided
# by a third-party and are governed by separate terms of service, privacy
# policy, and support documentation.

name: Update pre-commit hooks
on:
  workflow_dispatch:
  schedule:
    # Run at 8:00 AM every day
    - cron: "0 8 * * *"
permissions:
  contents: read
jobs:
  update-pre-commit-hooks:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633
      - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d
        with:
          python-version: "3.11"
      - name: Install prerequisites
        run: |
          pip install pre-commit==3.6.0
      - name: Update pre-commit hooks
        run: |
          pre-commit autoupdate
      - name: Check for pre-commit config file changes
        id: git_diff
        run: |
          echo "GIT_DIFF=$(git diff --exit-code 1> /dev/null; echo $?)" >> $GITHUB_OUTPUT
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c55203cfde3e5c11a452d352b4393e68b85b4533 # v6.0.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "build: Update pre-commit hooks"
          branch: "archivista-bot/update-pre-commit-hooks"
          delete-branch: true
          title: "build: Update pre-commit hooks"
          body: >
            The following PR updates the pre-commit hooks (`.pre-commit-config.yaml` file) using `pre-commit autoupdate`.
          labels: report, automated pr, pre-commit
